
section {
    display: grid;
    grid-template-columns: 10% 20px 10% 20px 10%;
    grid-template-rows: 60% 1px 60%;
}

p {
    background-color: grey;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 20px;
}

p:first-child {
    grid-area: 1/1/2/4;
}

p:last-of-type {
    grid-area: 3/3/4/4;
}

p:nth-child(2) {
    grid-area: 1/5/4/6;
}

p:nth-child(3) { 
    grid-area: 3/1/4/2;
}
