article {
    background-color:cornflowerblue;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    margin: 15px;
    padding: 15px;
    width: 300px;
}

body {
    background-color: lightgoldenrodyellow;
}

button {
    border-radius: 10PX;
    height: 35PX;
    margin-top: 40px;
    width: 300px;
}

button, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    justify-content: center;
    padding-right: 15px;
}

.content {
    background-color:cornflowerblue;
    display: flex;
}

h1, h2 {
    background-color:lemonchiffon;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

img {
    height: 200px;
    object-fit: cover;
    width: 105px;
}

main {
    display: flex;
    flex-wrap: wrap ;
}


