
footer {
    background: black;
    border: 2px solid orange;
    bottom: 0;
    color: white;
    left: 0;
    position: fixed;
    right: 0;
}

header {
    background: black;
    border: 2px solid green;
    color: white;
    position: sticky;
    top: 10px;
}

nav {
    border: 2px solid blue;
    padding-left: 20px;
    padding-right: 80px;
    position: absolute;
}

section {
    border: 2px solid red;
    margin-left: 202px;
    padding: 20px;
}
